<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookHeaders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookHeaders.Properties.Settings>
            <setting name="OutlookHdrsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutlookHdrsMailHdrs" serializeAs="String">
                <value />
            </setting>
            <setting name="OutlookHdrsWndLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OutlookHdrsWndSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OutlookHdrsWndMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutlookHdrsLogWhenSending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutlookHdrsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutlookHdrsVer" serializeAs="String">
                <value />
            </setting>
        </OutlookHeaders.Properties.Settings>
    </userSettings>
</configuration>